.App {
  text-align: centre;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footerEmailContact {
  color: whitesmoke;
  font-size: 12px;
  padding-right: 8px;
}

.footerPhoneContact {
  color: whitesmoke;
  font-size: 12px;
  padding-left: 8x;
}

.aboutMe {
  color: whitesmoke;
  font-size: 1.2em;
  padding-left: 20px;
  padding-bottom: 20px;
}

.contactMe {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emailContact {
  color: whitesmoke;
  font-size: 1.2em;
  padding-left: 20px;
}

.phoneContact {
  color: whitesmoke;
  font-size: 1.2em;
  padding-left: 20px;
}

.headerHeadline {
  color: #f06000;
  font-size: 18px;
  font-weight: 500;
}

.aboutHeader {
  color: #f06000;
  font-size: 1.5em;
}

.contactHeader {
  color: #f06000;
  font-size: 1.5em;
}

.portfolioHeader {
  color: #f06000;
  font-size: 2em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links:hover {
  color: #f06000;
}

.imageFrame {
  clip-path: circle(100px);
}

.icons {
  padding: 5px;
}

.contactFormWrapper {
  padding-left: 50px;
}

.submitButton {
  background-color: #f06000;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: none;
  margin: none;
}

.message-input {
  border-radius: 20px;
  width: 100%;
}

.contact-form > textarea {
  border-radius: 8px;
  width: 40%;
}

.contact-form > input {
  border-radius: 8px;
}

.contact-form > label {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  padding: none;
  margin: none;
}

.submit-button > button {
  border-radius: 40px;
}

.contact-form > input {
  width: 40%;
  padding: none;
  margin: none;
}

.about {
  display: flex;
  justify-content: space-evenly;
}

.three.columns {
  display: flex;
  align-items: top;
  justify-content: center;
  padding: none;
  margin: none;
}

.profile-pic {
  display: flex;
  align-items: top;
  justify-content: center;
  padding: none;
  margin: none;
  position: relative;
}

/* .nine.columns.main-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
