.App {
  text-align: centre;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footerEmailContact {
  color: whitesmoke;
  font-size: 12px;
  padding-right: 8px;
}

.footerPhoneContact {
  color: whitesmoke;
  font-size: 12px;
  padding-left: 8x;
}

.aboutMe {
  color: whitesmoke;
  font-size: 1.2em;
  padding-left: 20px;
  padding-bottom: 20px;
}

.contactMe {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emailContact {
  color: whitesmoke;
  font-size: 1.2em;
  padding-left: 20px;
}

.phoneContact {
  color: whitesmoke;
  font-size: 1.2em;
  padding-left: 20px;
}

.headerHeadline {
  color: #f06000;
  font-size: 18px;
  font-weight: 500;
}

.aboutHeader {
  color: #f06000;
  font-size: 1.5em;
}

.contactHeader {
  color: #f06000;
  font-size: 1.5em;
}

.portfolioHeader {
  color: #f06000;
  font-size: 2em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links:hover {
  color: #f06000;
}
